:root {
  --main-color: #0061f2;
  --main-color-opacity-negative: rgba(55, 135, 255, 0.2);
  --bg-hover-soft: rgba(128, 128, 128, 0.205);
  --letter-color: white;
  --color-brightness-dropdown: rgba(255, 255, 255, 0.25);
  --color-dark: black;
  --color-nav-blur: rgba(0, 0, 0, 0.7);
  --border-main-color: rgba(133, 133, 133, 0.746);
  --retweet-btn-color: rgb(0, 110, 0);
  --retweet-btn-color-opacity-negative: rgba(0, 110, 0, 0.2);
  --like-btn-color: rgb(255, 0, 0);
  --like-btn-color-opacity-negative: rgba(255, 0, 0, 0.2);
}

.my-container {
  max-width: 1281px;
  margin: auto;
}

.bg-black {
  background-color: var(--color-dark);
}

.bg-img {
  height: 100vh;
  background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png");
  background-color: aqua;
}

.font-register {
  font-family: "Varela Round", sans-serif;
}

.sidebar {
  list-style: none;
}

.side-bar-icon {
  width: 1.3rem;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
}

.sidebar-text {
  text-decoration: none;
  color: var(--letter-color);
  /*  font-family: "PT Serif", serif; */
  font-size: 1.2rem;
}

.sidebar-text p {
  display: inline;
}

.sidebar-btn {
  text-decoration: none;
  color: var(--letter-color);
  /*  font-family: "PT Serif", serif; */
  font-size: 1.5rem;
}

.sidebar-btn-icon {
  display: none;
}

.sidebar li {
  list-style: none;
  padding: 0.5rem;
}

.sidebar li:hover {
  color: var(--letter-color);
  background-color: var(--bg-hover-soft);
  padding: 0.5rem;
  border-radius: 2rem;
}

.tw-dropdown {
  box-shadow: 0px 0px 20px var(--color-brightness-dropdown);
  border: 1px solid var(--color-brightness-dropdown);
}

.dropdown-options-tweet {
  text-decoration: none;
  padding: 10px 10px;
  width: 100%;
}

.dropdown-options-tweet:hover {
  background-color: var(--bg-hover-soft);
}

.btn-options-tweet {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.sidebar li a:hover {
  color: var(--letter-color);
}

#button-tweet:hover {
  background-color: rgb(20, 75, 121);
}

.height-all-views {
  height: 100vh;
}

.btn-outline-default {
  color: var(--letter-color);
  border: 1px solid gray;
}

.btn-outline-default:hover {
  color: var(--letter-color);
  background-color: var(--bg-hover-soft);
}

.position-relative {
  position: relative;
}

.ph-profile {
  border: 0.3rem solid var(--color-dark);
  position: absolute;
  top: -100%;
  left: 1rem;
  /* //object-fit: cover; */
  /* object-fit: fill; */
  /*   object-fit: contain; */
}
.ph-friend-suggestions {
  border: 0.3rem solid var(--color-dark);
}

.ph-cover {
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.height-fit {
  height: fit-content;
}

.info-profile {
  font-size: 0.9rem;
}

.info-follow {
  font-size: 0.9rem;
}

.info-follow span {
  font-weight: bold;
  color: var(--letter-color);
}

.nav-info-profile {
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.nav-info-profile:hover {
  color: var(--letter-color);
  background-color: var(--bg-hover-soft);
}

.w-15 {
  width: 3.2rem;
}

.w-85 {
  width: 18rem;
}

.my-col-auto {
  min-width: 600px;
}

.action-col {
  min-width: 88px;
}

.link-profile-tweet {
  text-decoration: none;
  color: var(--letter-color);
}

.link-profile-tweet:hover {
  color: var(--letter-color);
}

.link-profile-tweet:hover .underline {
  text-decoration: underline;
}

.content-tweet {
  font-size: 0.9rem;
}

.date-tweet {
  text-decoration: none;
  font-size: 0.9rem;
}

.overflow-none {
  overflow: hidden;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.btn-action-tweet {
  background-color: transparent;
  border: 0;
  color: gray;
}

.comment:hover,
.share:hover {
  color: var(--main-color);
  background-color: var(--main-color-opacity-negative);
}

.retweet:hover {
  color: var(--retweet-btn-color);
  background-color: var(--retweet-btn-color-opacity-negative);
}

.like:hover {
  color: var(--like-btn-color);
  background-color: var(--like-btn-color-opacity-negative);
}

.isLike {
  color: var(--like-btn-color);
}

.bg-nav {
  background-color: var(--color-nav-blur);
  backdrop-filter: blur(10px);
}

.border-horizon-main {
  border-right: 0.5px solid var(--border-main-color);
  border-left: 0.5px solid var(--border-main-color);
}

.border-bottom-section {
  border-bottom: 0.5px solid var(--border-main-color);
}

.position-fixed {
  position: fixed;
  z-index: 1;
}

.btn-logout {
  position: absolute;
  bottom: 1%;
}

#button404 {
  text-align: center;
  color: white;
}

/* Medias Querys */
@media (max-width: 1281px) {
  .my-container {
    max-width: 1094px;
    margin: auto;
  }
  /* SIDEBAR LEFT */
  .sidebar li a .sidebar-text {
    text-align: center;
  }

  .sidebar-text p {
    display: none;
  }

  .side-bar-icon {
    margin: 0;
    width: 1.5rem;
  }

  .sidebar-btn {
    text-decoration: none;
    color: var(--letter-color);
    /*  font-family: "PT Serif", serif; */
    font-size: 1.5rem;
  }

  .sidebar-btn-icon {
    display: block;
  }

  .sidebar-btn-text {
    display: none;
  }

  .sidebar li {
    list-style: none;
    padding: 0.5rem;
  }

  .sidebar li:hover {
    color: var(--letter-color);
    background-color: var(--bg-hover-soft);
    padding: 0.5rem;
    border-radius: 2rem;
  }

  .sidebar li a:hover {
    color: var(--letter-color);
  }
}

@media (max-width: 987px) {
  .my-container {
    margin: auto;
  }

  .info-col {
    display: none;
    width: auto;
  }
}

@media (max-width: 688px) {
  .my-col-auto {
    width: auto;
  }
}
